<div class="container">
    <h4>What Ingredients Do You Have?</h4>
    <form ngForm #checkForm="ngForm" (submit)="getClicked(checkForm)">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Baking and Grain
                    </button>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div *ngFor="let i of igs">
                            {{i.name}}<input type="checkbox" name="igsinform[i.name]" [(ngModel)]="igsinform[i.name]" 
                                aria-label="Checkbox for following text input">
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">submit</button>
            </div>
        </div>

    </form>
    <button class="btn btn-success" [routerLink]="['/edit']">edit</button>

    <router-outlet></router-outlet>
</div>