* {
  margin: 0;
  padding: 0;
}
.container {

        background-size: cover;
        min-height: 900px;
        min-width: 100%;
        background-image: url('https://visualcocaine.org/public/uploads/large/81497721030kokdx93yy4rs2fvgviqbxhc53u3x2ppgu7im4mqs2xbpgfvpfsogkj8cjdiinu8so47gf6yui1g89eafqmz3aj9by3zvtb1demhw.jpg');
}

button {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:4px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#4a402b;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    width: 100%;
    
}
button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}
.form-check{
    display: inline-block;
    margin-left:2%;
}
.form-check:hover {
	background:linear-gradient(to bottom, #e9fff0 5%, #ededed 100%);
    background-color:#fafffc;
    border-radius: 5px;
} 

h4{
    font: 400 50px/1 'Oleo Script', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    padding-top: 2%;
    text-shadow: 2px 2px 1px rgba(206,89,55,0.47);
    margin-bottom:2px;
  }
  .accordion{
    width: 60%;
    background-size: cover;
    min-height: 900px;
  }

@media only screen and (max-width: 480px) {
    .container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        background-image: url('https://r1.ilikewallpaper.net/pic/201901/stainless-steel-spoon_75665_1125x2436_640.jpg');
    }
    .accordion{
        width:100%;
    }
  
  h4{
    font: 400 40px/1 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.47);
    padding-top: 2%;
    margin-bottom:2px;
  }

}
@media only screen and (min-width: 480px) and (max-width: 1080px) {
    .container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .accordion{
        width:80%;
        font-size: 20px;
    }
    .accordion button{
      font-size: 23px;
    }
    .container h4{
        font-size: 65px;
    }
}

