<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <div class="container">
        <h4>What ingredients do you have?</h4>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">

                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            Baking & Grains
                        </button>
             
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="All Purpose Flour"
                                id="defaultCheck1">
                            <label class="form-check-label" for="All Purpose Flour">
                                All Purpose Flour
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Bread Flour" id="defaultCheck1">
                            <label class="form-check-label" for="Bread Flour">
                                Bread Flour
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Whole-wheat Flour"
                                id="defaultCheck1">
                            <label class="form-check-label" for="Whole-wheat Flour">
                                Whole-wheat Flour
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Baking Powder" id="defaultCheck1">
                            <label class="form-check-label" for="Baking Powder">
                                Baking Powder
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Baking Soda" id="defaultCheck1">
                            <label class="form-check-label" for="Baking Soda">
                                Baking Soda
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Rolled Oats" id="defaultCheck1">
                            <label class="form-check-label" for="Rolled Oats">
                                Rolled Oats
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Salt" id="defaultCheck1">
                            <label class="form-check-label" for="Salt">
                                Salt
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Yeast" id="defaultCheck1">
                            <label class="form-check-label" for="Yeast">
                                Yeast
                            </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Corn Starch" id="defaultCheck1">
                                <label class="form-check-label" for="Corn Starch">
                                    Corn Starch
                                </label>
                            </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cake Mix" id="defaultCheck1">
                            <label class="form-check-label" for="Cake Mix">
                                Cake Mix
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Coconut Flakes" id="defaultCheck1">
                            <label class="form-check-label" for="Coconut Flakes">
                                Coconut Flakes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cornmeal" id="defaultCheck1">
                            <label class="form-check-label" for="Cornmeal">
                                Cornmeal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cocoa Powder" id="defaultCheck1">
                            <label class="form-check-label" for="Cocoa Powder">
                                Cocoa Powder
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Nuts" id="defaultCheck1">
                            <label class="form-check-label" for="Nuts">
                                Nuts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Almond Meal" id="defaultCheck1">
                            <label class="form-check-label" for="Almond Meal">
                                Almond Meal
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                  
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Sweeteners & Spices
                        </button>
                
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="White Sugar" id="defaultCheck1">
                            <label class="form-check-label" for="White SUgar">
                                White Sugar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Brown Sugar" id="defaultCheck1">
                            <label class="form-check-label" for="Brown Sugar">
                                Brown Sugar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Powdered Sugar" id="defaultCheck1">
                            <label class="form-check-label" for="Powdered Sugar">
                                Powdered Sugar
                            </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Cinnamon" id="defaultCheck1">
                                <label class="form-check-label" for="Cinnamon">
                                    Cinnamon
                                </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Nutmeg" id="defaultCheck1">
                                    <label class="form-check-label" for="Nutmeg">
                                        Nutmeg
                                    </label>
                                </div>
                                <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="Ginger" id="defaultCheck1">
                                        <label class="form-check-label" for="Ginger">
                                            Ginger
                                        </label>
                                    </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Honey" id="defaultCheck1">
                            <label class="form-check-label" for="Honey">
                                Honey
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Maple Syrup" id="defaultCheck1">
                            <label class="form-check-label" for="Maple Syrup">
                                Maple Syrup
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Molasses" id="defaultCheck1">
                            <label class="form-check-label" for="Molasses">
                                Molasses
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Rolled Oats" id="defaultCheck1">
                            <label class="form-check-label" for="Rolled Oats">
                                Rolled Oats
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Agave Nectar" id="defaultCheck1">
                            <label class="form-check-label" for="Agave Nectar">
                                Agave Nectar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Corn Syrup" id="defaultCheck1">
                            <label class="form-check-label" for="Corn Syrup">
                                Corn Syrup
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Artificial Sweetener"
                                id="defaultCheck1">
                            <label class="form-check-label" for="Artificial Sweetener">
                                Artificial Sweetener
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Dairy
                        </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Butter" id="defaultCheck1">
                            <label class="form-check-label" for="Butter">
                                Butter
                            </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Margarine" id="defaultCheck1">
                                <label class="form-check-label" for="Margarine">
                                    Margarine
                                </label>
                            </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Eggs" id="defaultCheck1">
                            <label class="form-check-label" for="Eggs">
                                Eggs
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Cream" id="defaultCheck1">
                            <label class="form-check-label" for="Cream">
                                Cream
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Buttermilk" id="defaultCheck1">
                            <label class="form-check-label" for="Buttermilk">
                                Buttermilk
                            </label>
                        </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Half-and-Half" id="defaultCheck1">
                                <label class="form-check-label" for="Half-and-Half">
                                    Half-and-Half
                                </label>
                            </div>
                        <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Powdered Milk" id="defaultCheck1">
                                <label class="form-check-label" for="Powdered Milk">
                                    Powdered Milk
                                </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Cream Cheese" id="defaultCheck1">
                                    <label class="form-check-label" for="Cream Cheese">
                                        Cream Cheese
                                    </label>
                                </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Condensed Milk" id="defaultCheck1">
                            <label class="form-check-label" for="Condensed Milk">
                                Condensed Milk
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Whipped Cream" id="defaultCheck1">
                            <label class="form-check-label" for="Whipped Cream">
                                Whipped Cream
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Almond Milk" id="defaultCheck1">
                            <label class="form-check-label" for="Almond Milk">
                                Almond Milk
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Soy Milk" id="defaultCheck1">
                            <label class="form-check-label" for="Soy Milk">
                                Soy Milk
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Skim Milk" id="defaultCheck1">
                            <label class="form-check-label" for="Skim Milk">
                            Skim Milk
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                    <div class="card-header" id="headingFour">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Miscellaneous
                            </button>
                    </div>
    
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Peanut Butter"
                                    id="defaultCheck1">
                                <label class="form-check-label" for="Peanut Butter">
                                    Peanut Butter
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Nutella" id="defaultCheck1">
                                <label class="form-check-label" for="Nutella">
                                    Nutella
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Graham Cracker"
                                    id="defaultCheck1">
                                <label class="form-check-label" for="Graham Cracker">
                                    Graham Cracker
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Chocolate Syrup" id="defaultCheck1">
                                <label class="form-check-label" for="Chocolate Syrup">
                                    Chocolate Syrup
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Marshmallow" id="defaultCheck1">
                                <label class="form-check-label" for="Marshmallow">
                                    Marshmallow
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Chocolate Chips" id="defaultCheck1">
                                <label class="form-check-label" for="Chocolate Chips">
                                    Chocolate Chips
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Jam" id="defaultCheck1">
                                <label class="form-check-label" for="Jam">
                                    Jam
                                </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Jelly" id="defaultCheck1">
                                    <label class="form-check-label" for="Jelly">
                                        Jelly
                                    </label>
                                </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Brownie Mix" id="defaultCheck1">
                                <label class="form-check-label" for="Brownniw Mix">
                                    Brownie Mix
                                </label>
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="Jello" id="defaultCheck1">
                                    <label class="form-check-label" for="Jello">
                                        Jello
                                    </label>
                                </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="White Chocolate" id="defaultCheck1">
                                <label class="form-check-label" for="White Chocolate">
                                    White Chocolate
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Sprinkles" id="defaultCheck1">
                                <label class="form-check-label" for="Sprinkles">
                                    Sprinkles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Coconut Flakes" id="defaultCheck1">
                                <label class="form-check-label" for="Coconut Flakes">
                                    Coconut Flakes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Apple Sauce" id="defaultCheck1">
                                <label class="form-check-label" for="Apple Sauce">
                                    Apple Sauce
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <router-outlet></router-outlet>
    </div>

</body>

</html>