<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Add New Author </title>
</head>

<body>

        <form >
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required minlength="4"
                     [(ngModel)]="myobj.name" placeholder="name" #name="ngModel">
        
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                    </div>
                    <button type="submit" class="button" (click)="submitForm()" [disabled]="myobj.name.length<4">Submit</button>
                </div>
            </form>
</body>

</html>

